@media screen and (max-width :577px){
    .dropdown-menu.show{
        width: 500px!important;
        height: 279px!important;
    }
    .drop1{
        width: 500px!important;
        height: 93px!important;
    }
    #drop{
        font-size: 40px!important;
    }
    .navbar-toggler-icon{
        height: 60px !important;
        width: 60px !important;
    }
    .navbar-brand{
        height: 200px !important;
    }
    #imag1{
        height:150px !important;
        width: 420px !important;
        margin-top: 25px;
    }
}
@media screen and (max-width :577px){
    #map{
        height: 1100px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .map-info1{
        font-size: 70px!important;
        padding-left: 20px !important;
    }
    .map-info2{
        font-size: 50px!important;
        padding-left: 20px !important;
    }
}
#map{
    width: 100%;
    height: 700px;
    border: 0px;
    padding-left:30px;
    padding-right: 30px;
}
.map-info1{
    font-family: Raleway;
    font-size:40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
    padding-top: 10px;
    padding-left: 50px;
}
.map-info2{
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
    padding-left: 50px;
}
@media screen and (max-width :577px){
    #imag{
        height: 1100px;
    }
}
#imag{
    width: 100%;
}
#imag1{
    width:270px;
    height:90px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.dropdown-menu.show{
    width: 240px;
    height: 139.5px;
    box-shadow: 0 3px 6px 0 rgba(219, 186, 186, 0.31);
    background-color: #ffffff;
    position: absolute;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-top: 10px;
}
.drop1{
    height: 46.5px;
    text-align: center;
}
#drop{
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #030d1b;
    padding-top: 15px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: auto;
}
@media screen and (max-width :577px){
    .mycontainer{
        max-width: 100%;
        margin: auto;
    }
    html,body{
        width: 1370px !important;
        max-width: none !important;
        overflow-x: unset !important;
        margin: auto;
    }
}
div.mycontainer{
    height: inherit;
}
.image-upload > input
{
    display: none;
}
.file-input
{
    margin-right:289px;
}
.image-upload img
{
    height: 45.9px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 5px;
}
input::placeholder{
    width: 150px;
    height: 100px;
    font-family: Raleway;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #bfc3c9;
}
#care{
    margin-left: 0px;
    margin-right: 0px;
}
.form-group{
    padding-left: 50px;
    padding-right: 50px;
}
@media screen and (max-width :577px){
    input::placeholder{
        font-size: 40px !important;
    }
    .choose{
        font-size: 35px !important;
    }
}
.choose{
  font-family: Raleway;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #bfc3c9;
  margin-left: 15px;
  padding-top: 25px;
}
.Submit{
    width: 255px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #030d1b;
    margin-left: 80px;
    margin-right: 50px;
}
.file{
    width: 71px;
    height: 71px;
    border-radius: 36px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#submit1{
    width: 250px;
    height: 70px;
    font-family: Raleway;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #bfc3c9;
    text-transform: uppercase;
    padding: 0px 0px;
}
@media screen and (max-width :577px){
    .file{
        width: 100px !important;
        height: 100px !important;
        border-radius: 49px !important;
    }
    #form1{
        height: 100px !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    #Phone{
        height: 100px !important;
        width: 100% !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    #postal{
        height: 100px !important;
        width: 100% !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    #formx{
        margin-bottom: 30px;
    }
    .image-upload img{
        height: 65px !important;
        margin-left: 10px !important;
    }
    .file{
        margin-top: 20px !important;
    }
    .Submit{
        height: 100px !important;
        margin-left: 450px !important;
        text-align: center;
    }
    #submit1{
        font-size: 40px !important;
        margin-top: 20px !important;
    }
}
#form1{
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#Phone{
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#postal{
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
.line{
    height: 2px;
    width: 98%;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.iop{
    height: 9px;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    #New-Anchor{
        font-size: 40px!important;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    #nave1{
        margin-left: 30px !important;
    }
}
#nave1{
    width: 100%;
    margin-left: 320px;
    margin-right: 0px;
}
#nave{
    width: 800px;
    padding: 0px;
}
#New-Anchor{
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
    padding: 0px;
}
.dropdown-toggle{
    top: 98px;
    left: 531px;
    width: 51px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
@media screen and (max-width :577px){
    .About-image{
        height: 700px!important;
    }
    .Certi-image{
        height: 700px!important;
    }
    .Envir-image{
        height: 700px!important;
    }
    .Product-image{
        height: 700px!important;
    }
    .Social-image{
        height: 700px!important;
    }
}
.About-image{
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-image: url("Images/About.png");
    background-size: cover;
}
.Certi-image{
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("Images/Certif.jpg");
}
.Envir-image{
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url("Images/Envir.jpg");
}
.Product-image{
    width: 100%;
    max-width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("Images/Product.png");
}
.Social-image{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("Images/Social 1.jpg");
    max-width: 100%;
}
@media screen and (max-width :577px){
    .common{
        margin-top: 500px!important;
    }
}
.common{
    margin-top: 400px;
    margin-left: 46px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
.Common-info{
    height: auto;
    width: 100%;
    background-color: #f2f2f2;
}.Product-info{
    height: auto;
    width: 100%;
}
.About-info5{
    height: auto;
    width: 100%;
}
.Certi-info{
    height: auto;
    width: 100%;
}
.Envir-info{
    height: auto;
    width: 100%;
}
@media screen and (max-width :577px){
    p.Certi-info2{
        font-size: 40px!important;
    }
    .Certi-info1{
        font-size: 60px!important;
    }
    .Certi-info3{
        font-size: 40px !important;
    }
    #Cert2{
        width: 300px;
        height: 220px;
    }
}
.Certi-info1{
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    text-transform: uppercase;
}
p.Certi-info2{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.50;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
    margin-left: 40px;
    margin-right: 60px;
}
.Certi-info3{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.50;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-left: 130px;
    margin-right: 130px;
}
#Cert{
    margin-right: 150px;
    margin-left: 100px;
}
#Cert1{
    text-align: center;
    margin-bottom: 50px;
}
#Cert2{
    width: 220px;
    height: 150px;
}
@media screen and (max-width :577px){
    p.About-info1{
        font-size: 50px!important;
    }
    .About-info2{
        font-size: 60px !important;
    }
    .About-info4{
        font-size: 50px !important;
    }
    .line1{
        width: 50% !important;
    }
}
.About-info{
    width: 100%;
    height: auto;
    background-color: #f1f7ff;
}
p.About-info1{
    padding-left: 10px;
    padding-top: 30px;
    margin-bottom: 0px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.50;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.About-info2{
    font-family: Raleway;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
}
.About-info3{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
}
.About-info4{
    opacity: 0.69;
    font-family: Raleway;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.68;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
}
.line1{
    height: 3px;
    width: 40%;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.line2{
    height: 3px;
    width: 70%;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    .prod1{
        font-size: 60px !important;
    }
    .prod2{
        font-size: 40px !important;
    }
    #prod5{
        font-size: 35px !important;
    }
}
.prod1{
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0a2244;
}
.prod2{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-left: 100px;
    margin-right: 120px;
}
#prod3{
    margin-left: 100px;
    margin-right: 100px;
}
#prod4{
    width: 280px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #6fabff;
    text-align: center;
    border: 20px solid white;
}
#prod5{
    vertical-align: middle;
    font-family: Raleway;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
}
.line3{
    height: 3px;
    width: 70%;
    background: white 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    .detail1{
        font-size: 60px !important;
    }
    .detail3{
        font-size: 40px !important;
    }
    .detail4{
        font-size: 40px !important;
    }
    #detail5{
        padding-top: 30px!important;
    }
}
.detail{
    width: 100%;
    height: auto;
    background-color: #0a2244;
}
.detail1{
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.detail3{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.detail4{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: white;
    margin-left: 210px;
    margin-right: 50px;
}
.detail5{
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    .dec1{
        font-size: 60px !important;
    }
    .dec2{
        font-size: 40px !important;
    }
    .dec3{
        font-size: 40px !important;
    }
    .dec4{
        font-size: 40px !important;
    }
}
.dec1{
    font-family: Raleway;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #0a2244;
    margin-left: 40px;
    margin-top: 20px;
}
.dec2{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #b1c4df;
    margin-right:50px;
    margin-left: 40px;
}
.dec3{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-left: 40px;
}
.dec4{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #b1c4df;
    margin-left: 40px;
}
@media screen and (max-width :577px){
    p.Product-info1{
        font-size: 50px!important;
    }
}
p.Product-info1{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    margin-bottom: 0px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-bottom: 30px;
}
@media screen and (max-width :577px){
    a.Envir-info2{
        font-size: 40px!important;
    }
    .Envir-info1{
        font-size: 60px!important;
    }
    .Envir-info3{
        font-size: 45px !important;
    }
}
.Envir-info1{
    font-family: Raleway;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-left: 50px;
    padding-top: 40px;
}
.Envir-info2{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #56667e;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Envir-info3{
    opacity: 0.69;
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-left: 50px;
    margin-right: 70px;
}
#circle
{
  width:300px;
  height:300px;
  border:1px solid white;
  border-radius:100%;
  background-color: #f1f7ff;
  text-align: center;
  margin: auto;
}
#circle:hover{
    background-color:  #a1c3f0;
}
.Envir-image1{
    text-align: center;
    width: 93.9px;
    height: 144.6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
@media screen and (max-width :577px){
    p.social-info2{
        font-size: 50px!important;
    }
    .social-info1{
        font-size: 70px!important;
    }
    .social-info3{
        font-size: 70px !important;
    }
    .act1{
        width: 100% !important;
        height: 800px !important;
    }
    .act2{
        font-size: 55px !important;
    }
    #act3{
        border: 50px solid white !important;
    }
    .line5{
        width: 95% !important;
    }
}
.social-info{
    width: 100%;
    height: auto;
    opacity: 0.82;
}
.social-info1{
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.50;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-left: 40px;
}
p.social-info2{
    opacity: 0.69;
    font-family: Raleway;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-left: 40px; 
    margin-right: 40px;  
}
.social-info3{
    font-family: Raleway;
    font-size: 51px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: black;
    margin-left: 46px;
}
#act{
    margin-left: 20px;
    margin-right: 20px;
}
.act1{
    width: 590px;
    height: 420px;
    object-fit: contain;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.act2{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
#act3{
    border: 30px solid white;
    padding: 0px;
}
.green{
    width: 516px;
    height: 338px;
    object-fit: contain;
}
.line4{
    height: 3px;
    width: 40%;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.line5{
    height: 2px;
    width: 88%;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 0px;
}
@media screen and (max-width: 577px){
    .container2
    {
        min-height: 1200px;
    }
}
.container2{
    height: 500px;
    /* max-height: 840px; */
    background-color:#fff;
    /* min-height: 840px; */
    /* min-width: 75%; */
}
.container1{
    height: auto;
    width: 100%;
}  
.container3{
    height:auto;
    background-color:#fff;
}
#product-row{
    height:auto;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 65px;
}
@media screen and (max-width :577px){
    .car{
        height: 1200px !important;
    }
    .career-info{
        font-size: 60px !important;
    }
    .career-info1{
        font-size: 40px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #box7{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
.car{
    width: 100%;
    height: 750px;
}
#box7{
    width: 100%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}
#box8{
    width:100%;
    height: auto;
}
.career-info{
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-left: 55px;
}
.career-info1{
    margin-left: 55px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
}
#glance-info{
    width: 100%;
    height: inherit;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
}
@media screen and (max-width :577px){
    #box5{
        height: 600px !important;
    }
    .glance-info1{
        font-size: 60px !important;
    }
    .glance-info2{
        font-size:40px!important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    #box6{
        height: 600px !important;
    }
    .union{
        height: 380px !important;
        width: 380px !important;
        margin-top: 120px !important;
    }
}
#box5{
    width: 100%;
    height: 500px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #0a2244;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
#box6{
    max-width:100%;
    height: 500px;
    background-image: url("Images/Mask Group 1.png");
    background-position: center;
    background-size: cover;
    text-align:center;
    overflow: hidden;
    position: relative;
    float: left;
    max-width: 100%;
}
.union{
    /* width:50%; */
    width: 278.6px;
    height: 248.6px;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.29);
    margin-top: 135px;
}
#box1{
    width: 100%;
    height:700px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
    padding-right: 0px;
    padding-left: 0px;
}
.box1-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Sponge.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.box1-4{
    text-align: center;
    padding-top: 300px;
}
#box2{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}
.box2-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Billets.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.box2-4{
    text-align: center;
    padding-top: 300px;
}
#box3{
    width: 100%;
    height: 700px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
}   
.box3-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/CP.png");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.box3-4{
    text-align: center;
    padding-top: 300px;
}
@media screen and (max-width: 576px) {
    p.para{
    font-size: 40px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    } 
    .head{
        font-size: 80px !important;
    }
}
.head{
    font-family: Raleway;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
p.para{
    text-transform: uppercase;
    padding-left: 53px;
    padding-right: 65px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.glance-info1{
    text-transform: uppercase;
    height: 61px;
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.glance-info2{
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #96aac6;
    margin-left: 10px;
    margin-right: 10px;
}
#heading2{
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #0a2244;
}
.xyz{
    width: 55%;
    height: 1px;
    background-color: #ffffff;
}
.abc{
    width: 40%;
    height: 3px;
    background-color: #0a2244;
}
.mno{
    width: 50%;
    height: 1px;
    background-color: #96aac6;
}
#image{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 15px 0 rgba(10, 34, 68, 0.25);
    border: solid 15px #ffffff;
    margin-left: 20px;
}
@media screen and (max-width :577px){
    #image{
        height: 350px !important;
        width: 350px !important;  
        margin-top: 50px; 
        margin-left: 50px;
    }
}
#image1{
    height: auto;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 80px;
}
#image2{
    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
    vertical-align: center;
}
.contact-info{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.contact-info1{
    height: 24px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #96aac6;
}
.contact-info2{
    padding-top: 65px;
    font-family: Raleway;
    font-size: 54px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.contact-info3{
    padding-top: 45px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #96aac6;
}
@media screen and (max-width: 576px) {
    #row-contact4 p{
    text-align: right !important;
    padding-right: 50px;
    } 
}
.contact-info4{
    padding-top: 33px;
    font-family: Raleway;
    font-size: 33px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#contact-info5{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    vertical-align: middle;
}
@media screen and (max-width: 576px) {
    #row-contact {
        padding-top:0 !important;
    }
}
#row-contact{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7%;
}
#row-contact1{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#row-contact2{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#row-contact3{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
#row-contact4{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
@media screen and (max-width:577px)
{
    #heading2{
        font-size: 60px !important;
    }
    .abc{
        width: 70%;
    }
}
@media screen and (max-width: 577px){
    .mno{
        width: 70%;
    }
    .contact-info{
        font-size: 45px !important;
    }
    .contact-info1{
        font-size: 30px!important;   
        margin-bottom: 30px; 
    }
    .contact-info2{
        font-size: 60px !important;
        margin-bottom: 50px;
    }
    .contact-info3{
        font-size: 40px!important;
        padding-top: 45px;
    }
    .contact-info4{
        font-size: 50px !important;   
    }
    .contact{
        height: 900px !important;
    }
    
}
.contact{
        background-image: url("Images/OverlayImg.png");
        height: 635px;
        width:inherit;
        padding: 0px;
        text-align: center;
        background-size: cover;
}
@media screen and (max-width: 577px) {
    #vl {
        display:none;
    }
}
#vl {
    border-left: 2px solid white;
    height: 300px;
    padding-right: 0px;
    padding-left: 0px;
}
.info{
    width:inherit;
    height:inherit;
    background-color:white;
    padding: 0%;
}
.info2{ 
    width: 105px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-right: 0px;
}
.info3{
    padding-top: 8px;
    opacity: 0.38;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-bottom: 0px;
}
.info4{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-bottom: 40px;
}
.info5{
    height: 21px;
    opacity: 0.48;
    margin-bottom: 0;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
#col3{
    padding-left: 200px;
}
.info1{
    padding-top: 50px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
}
#row-info{
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 577px){
    .info5{
        font-size: 40px;
    }
    .info3{
        font-size: 45px;
    }
    .info2{
        font-size:60px;
        margin-bottom: 15px;
    }
    .info4{
        font-size: 35px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    #info-col{display: none;}
    /* .info1{
       display: none;
    }
    .footer_logo{
        display:none;
    } */
}
#info-col{
    padding-left: 30px;
}
.footer_logo{
    height: 100px;
    width: 350px;
}
#row-info1{
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
#row-info2{
    width: 100%;
    height: 20%;
    vertical-align: middle;
}
#row-info3{
    padding-top: 90px;
    padding-right: 0px;
    padding-left: 80px;
}
#row-info4{
    padding-left: 0px;
    padding-right: 0px;
}
#row-info5{
    padding-top: 60px;
    padding-right: 0px;
    padding-left: 150px;
}