.container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media screen and (max-width :577px){
    .dropdown-menu.show{
        width: 500px!important;
        height: 279px!important;
    }
    .drop1{
        width: 500px!important;
        height: 93px!important;
    }
    #drop{
        font-size: 40px!important;
    }
    .navbar-toggler-icon{
        height: 60px !important;
        width: 60px !important;
    }
    .navbar-brand{
        height: 200px !important;
    }
    #imag1{
        height:150px !important;
        width: 420px !important;
        margin-top: 25px;
    }
}
@media screen and (max-width :577px){
    #imag{
        height: 1100px;
    }
}
#imag1{
    width:253px;
    height:77px;
}
.dropdown-menu.show{
    width: 235px;
    height: 139.5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
    background-color: #ffffff;
    position: absolute;
    padding-bottom: 0px;
    padding-top: 0px;
}
.drop1{
    width:235px;
    height: 46.5px;
    text-align: center;
    border-bottom: 0.5px solid black;
}
#drop{
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #030d1b;
    padding-top: 15px;
}
html, body {
    width: 1280px;
    padding: 0;
    margin: auto;
    background-color: #ffffff;
}
@media screen and (max-width :577px){
    .mycontainer{
        width: 95%;
        margin: auto;
    }
}
div.mycontainer{
    height: inherit;
}
.image-upload > input
{
    display: none;
}
.file-input
{
    margin-right:289px;
}
.image-upload img
{
    height: 45.9px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 5px;
}
input::placeholder{
    width: 150px;
    height: 100px;
    font-family: Raleway;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #bfc3c9;
}
#care{
    margin-left: 0px;
    margin-right: 0px;
}
.form-group{
    padding-left: 20px;
}
@media screen and (max-width :577px){
    input::placeholder{
        font-size: 40px !important;
    }
    .choose{
        font-size: 35px !important;
    }
    .Submit{
        text-align: center;
        margin-left: 400px !important;
    }
}
.choose{
  font-family: Raleway;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #bfc3c9;
  margin-left: 15px;
  padding-top: 25px;
}
.Submit{
    width: 255px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #030d1b;
    margin-left: 80px;
}
.file{
    width: 71px;
    height: 71px;
    border-radius: 36px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#submit1{
    width: 250px;
    height: 70px;
    font-family: Raleway;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #bfc3c9;
    text-transform: uppercase;
    padding: 0px 0px;
}
@media screen and (max-width :577px){
    .file{
        width: 100px !important;
        height: 100px !important;
        border-radius: 49px !important;
    }
    #form1{
        height: 100px !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    #Phone{
        height: 100px !important;
        width: 100% !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    #postal{
        height: 100px !important;
        width: 100% !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    #box8{
        margin: 10%;
    }
    .image-upload img{
        height: 65px !important;
        margin-left: 10px !important;
    }
    .file{
        margin-top: 20px !important;
    }
    .Submit{
        height: 100px !important;
        margin-left: 350px !important;
    }
    #submit1{
        font-size: 40px !important;
        margin-top: 20px !important;
    }
}
#form1{
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#Phone{
    width: 336px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
    margin-right: 25px;
    margin-bottom: 5px;
}
#postal{
    width: 336px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
.iop{
    width: inherit;
    height: 9px;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    #New-Anchor{
        font-size: 40px!important;
        margin-bottom: 40px;
    }
}
#New-Anchor{
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
    padding-left: 30px;
    padding-right: 30px;
}
.dropdown-toggle{
    top: 98px;
    left: 531px;
    width: 51px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
#drop{
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #030d1b;
    padding-top: 15px;
}
@media screen and (max-width :577px){
    .About-image{
        height: 700px!important;
    }
    .Certi-image{
        height: 700px!important;
    }
    .Envir-image{
        height: 700px!important;
    }
    .Product-image{
        height: 700px!important;
    }
    .Social-image{
        height: 700px!important;
    }
}
.About-image{
    width: 100%;
    max-width: 100%;
    height: 486px;
    background-image: url("Images/About.png");
    background-size: cover;
}
.Certi-image{
    width: 100%;
    max-width: 100%;
    height: 486px;
    background-size: cover;
    background-image: url("Images/Certif.png");
}
.Envir-image{
    width: 100%;
    max-width: 100%;
    height: 486px;
    background-size: cover;
    background-image: url("Images/Envir.png");
}
.Product-image{
    width: 100%;
    max-width: 100%;
    height: 486px;
    background-size: cover;
    background-image: url("Images/Product.png");
}
.Social-image{
    width: 100%;
    height: 486px;
    background-size: cover;
    background-image: url("Images/Social 1.png");
    max-width: 100%;
}
@media screen and (max-width :577px){
    .common{
        margin-top: 500px!important;
    }
}
.common{
    margin-top: 309px;
    margin-left: 46px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
.Common-info{
    height: auto;
    width: 100%;
    background-color: #f2f2f2;
}
@media screen and (max-width :577px){
    p.Certi-info2{
        font-size: 40px!important;
    }
    .Certi-info1{
        font-size: 60px!important;
    }
}
.Certi-info1{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 20px;
}
p.Certi-info2{
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    p.About-info1{
        font-size: 50px!important;
    }
}
p.About-info1{
    padding-left: 10px;
    padding-top: 30px;
    margin-bottom: 0px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-bottom: 30px;
}
@media screen and (max-width :577px){
    p.Product-info1{
        font-size: 50px!important;
    }
}
p.Product-info1{
    padding-left: 10px;
    padding-top: 30px;
    margin-bottom: 0px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-bottom: 30px;
}
@media screen and (max-width :577px){
    a.Envir-info2{
        font-size: 40px!important;
    }
    .Envir-info1{
        font-size: 60px!important;
    }
}
.Envir-info1{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 20px;
}
.Envir-info2{
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
    padding-left: 80px; 
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
@media screen and (max-width :577px){
    p.social-info2{
        font-size: 40px!important;
    }
    .social-info1{
        font-size: 60px!important;
    }
}
.social-info1{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 20px;
}
p.social-info2{
    opacity: 0.69;
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 20px; 
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 0px;  
}
@media screen and (max-width: 577px){
    .container2
    {
        min-height: 1200px;
    }
}
.container2{
    width:inherit;
    height: 420px;
    /* max-height: 840px; */
    background-color:#fff;
    /* min-height: 840px; */
    /* min-width: 75%; */
}
.container1{
    width:inherit;
    max-height:2496px ;
    background-color:#fff;
    min-height: 25%;
}  
.container3{
    width:inherit;
    height:auto;
    background-color:#fff;
}
#product-row{
    height: inherit;
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}
@media screen and (max-width :577px){
    #box7{
        height: 1000px !important;
    }
    .career-info{
        font-size: 60px !important;
    }
    .career-info1{
        font-size: 40px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
#box7{
    width: 100%;
    height: 600px;
    background-size:cover;
    background-image: url("Images/Career.png");
}
#box8{
    width:100%;
    height: auto;
}
.career-info{
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
}
.career-info1{
    padding-left: 65px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #56667e;
}
#glance-info{
    width: 100%;
    height: inherit;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
}
@media screen and (max-width :577px){
    #box5{
        height: 600px !important;
    }
    .glance-info1{
        font-size: 60px !important;
    }
    .glance-info2{
        font-size:40px!important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    #box6{
        height: 600px !important;
    }
    .union{
        height: 380px !important;
        width: 380px !important;
        margin-top: 120px !important;
    }
}
#box5{
    width: 100%;
    height: 420px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #0a2244;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
#box6{
    max-width:100%;
    height: 420px;
    background-image: url("Images/Mask Group 1.png");
    background-position: center;
    background-size: cover;
    text-align:center;
    overflow: hidden;
    position: relative;
    float: left;
    max-width: 100%;
}
.union{
    /* width:50%; */
    width: 278.6px;
    height: 248.6px;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.29);
    margin-top: 85px;
}
#box1{
    width: 100%;
    height:624px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
    padding-right: 0px;
    padding-left: 0px;
}
.box1-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Sponge.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box1-2{
    padding-top: 130px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box1-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box1-4{
    text-align: center;
    padding-top: 300px;
}
.box1-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#box1:hover .box1-1,
#box1:focus .box1-1{
    transform: scale(1.1);
}
#box1:hover .box1-1:before,
#box1:focus .box1-1:before{
    display: block;
}
#box1:hover span,
#box1:focus span{
    display: block;
}
#box1:hover .box1-4{
    display: none;
}
#box2{
    width: 100%;
    height: 624px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}
.box2-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Billets.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box2-2{
    display: none;
    padding-top: 225px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.box2-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box2-4{
    text-align: center;
    padding-top: 300px;
}
.box2-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#box2:hover .box2-1,
#box2:focus .box2-1{
    transform: scale(1.1);
}
#box2:hover .box2-1:before,
#box2:focus .box2-1:before{
    display: block;
}
#box2:hover span,
#box2:focus span{
    display: block;
}
#box2:hover .box2-4{
    display: none;
}
#box3{
    width: 100%;
    height: 624px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
}   
.box3-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/CP.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box3-2{
    display: none;
    padding-top: 120px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.box3-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box3-4{
    text-align: center;
    padding-top: 300px;
}
.box3-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#box3:hover .box3-1,
#box3:focus .box3-1{
    transform: scale(1.1);
}
#box3:hover .box3-1:before,
#box3:focus .box3-1:before{
    display: block;
}
#box3:hover span,
#box3:focus span{
    display: block;
}
#box3:hover .box3-4{
    display: none;
}
#box4{
    width: 100%;
    height: 624px;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
}
.box4-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Plates.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box4-2{
    display: none;
    padding-top: 120px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.box4-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box4-4{
    text-align: center;
    padding-top: 300px;
}
.box4-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#box4:hover .box4-1,
#box4:focus .box4-1{
    transform: scale(1.1);
}
#box4:hover .box4-1:before,
#box4:focus .box4-1:before{
    display: block;
}
#box4:hover span,
#box4:focus span{
    display: block;
}
#box4:hover .box4-4{
    display: none;
}
@media screen and (max-width: 576px) {
    p.para{
    font-size: 40px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    } 
    .head{
        font-size: 80px !important;
    }
}
.head{
    font-family: Raleway;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
p.para{
    text-transform: uppercase;
    padding-left: 53px;
    padding-right: 65px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.glance-info1{
    text-transform: uppercase;
    height: 61px;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.glance-info2{
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #96aac6;
}
#heading2{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
}
#image2{
    margin-right: 15px;
}
.xyz{
    width: 55%;
    height: 1px;
    background-color: #ffffff;
}
.abc{
    width: 40%;
    height: 1px;
    background-color: #0a2244;
}
.mno{
    width: 50%;
    height: 1px;
    background-color: #96aac6;
}
#image{
    width: 180px;
    height: 180px;
    box-shadow: 0 0 15px 0 rgba(10, 34, 68, 0.25);
    border: solid 15px #ffffff;
}
@media screen and (max-width :577px){
    #image{
        height: 250px !important; 
        width: 250px !important;  
        margin-top: 50px; 
        margin-left: 50px;
    }
}
#image2{
    margin-left: 15px;
    margin-right: 15px;
}
.contact-info{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.contact-info1{
    height: 24px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #96aac6;
}
.contact-info2{
    padding-top: 65px;
    font-family: Raleway;
    font-size: 54px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.contact-info3{
    padding-top: 45px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #96aac6;
}
@media screen and (max-width: 576px) {
    #row-contact4 p{
    text-align: right !important;
    padding-right: 50px;
    } 
}
.contact-info4{
    padding-top: 33px;
    font-family: Raleway;
    font-size: 33px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#contact-info5{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    vertical-align: middle;
}
@media screen and (max-width: 576px) {
    #row-contact {
        padding-top:0 !important;
    }
}
#row-contact{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7%;
}
#row-contact1{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#row-contact2{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#row-contact3{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
#row-contact4{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
@media screen and (max-width:577px)
{
    .row.d-block{
        height: 850px !important;
    }
    #heading2{
        font-size: 60px !important;
    }
    .abc{
        width: 70%;
    }
}
@media screen and (max-width: 577px){
    .mno{
        width: 70%;
    }
    .contact-info{
        font-size: 45px !important;
    }
    .contact-info1{
        font-size: 30px!important;   
        margin-bottom: 30px; 
    }
    .contact-info2{
        font-size: 60px !important;
        margin-bottom: 50px;
    }
    .contact-info3{
        font-size: 40px!important;
        padding-top: 45px;
    }
    .contact-info4{
        font-size: 50px !important;   
    }
    .contact{
        height: 900px !important;
    }
    
}
.contact{
        background-image: url("Images/OverlayImg.png");
        height: 635px;
        width:inherit;
        padding: 0px;
        text-align: center;
        background-size: cover;
}
@media screen and (max-width: 577px) {
    #vl {
        display:none;
    }
}
#vl {
    border-left: 2px solid white;
    height: 300px;
    padding-right: 0px;
    padding-left: 0px;
}
.info{
    width:inherit;
    height:inherit;
    background-color:white;
    padding: 0%;
}
.info2{ 
    width: 105px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-right: 0px;
}
.info3{
    padding-top: 8px;
    opacity: 0.38;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-bottom: 0px;
}
.info4{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-bottom: 0px;
}
.info5{
    height: 21px;
    opacity: 0.48;
    margin-bottom: 0;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
#col3{
    padding-left: 200px;
}
.info1{
    padding-top: 50px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
}
#row-info{
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-right: 0px;
}
#info-col{
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (max-width: 577px){
    .info5{
        font-size: 40px;
    }
    .info3{
        font-size: 45px;
    }
    .info2{
        font-size:60px;
        margin-bottom: 15px;
    }
    .info4{
        font-size: 35px;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    #info-col{display: none;}
    /* .info1{
       display: none;
    }
    .footer_logo{
        display:none;
    } */
}
#row-info1{
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
#row-info2{
    width: 100%;
    height: 20%;
    vertical-align: middle;
}
#row-info3{
    padding-top: 90px;
    padding-right: 0px;
    padding-left: 50px;
}
#row-info4{
    padding-left: 0px;
    padding-right: 0px;
}
#row-info5{
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 100px;
}