.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
ul.dropdown-menu.show{
    position: absolute;
    padding: 0px 0px;
}
.dropdown-menu{
    width: 235px;
    height: 141px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
    background-color: #ffffff;
    position: absolute;
}
.drop1{
    width:235px;
    height: 46.5px;
    text-align: center;
    border-bottom: 0.5px solid black;
    vertical-align: middle;
    padding-top: 15px;
}
html, body {
    width: 1280px;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
}
div.mycontainer{
    width: inherit;
    height: inherit;
    margin:auto;
}
.image-upload > input
{
    display: none;
}
.file-input
{
    margin-right:289px;
}
.image-upload img
{
    height: 45.9px;
    cursor: pointer;
    padding-top: 20px;
}
input::placeholder{
    width: 59px;
    height: 22px;
    font-family: Raleway;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #bfc3c9;
}
.form-group{
    padding-left: 65px;
}
.choose{
  height: 22px;
  font-family: Raleway;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;
  color: #bfc3c9;
  margin-left: 22px;
}
.Submit{
    width: 255px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #030d1b;
    margin-left: 160px;
}
.file{
    width: 71px;
    height: 71px;
    border-radius: 36px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#submit1{
    width: 250px;
    height: 70px;
    font-family: Raleway;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #bfc3c9;
    text-transform: uppercase;
    padding: 0px 0px;
}
#form1{
    width: 616px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#Phone{
    width: 336px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
    margin-right: 25px;
}
#postal{
    width: 255px;
    height: 73px;
    border-radius: 37px;
    border: solid 1px #030d1b;
    background-color: #ffffff;
}
#iop{
    width: 1280px;
    height: 9px;
    background: #0A2244 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0px;
}
nav.navbar.navbar-default{
    width: 1280px;
}
div.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.New-Anchor{
    width: 51px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
.dropdown-toggle{
    top: 98px;
    left: 531px;
    width: 51px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
.drop{
    width: 105px;
    height: 141px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
.About-image{
    width: 1280px;
    height: 486px;
    object-fit: contain;
    background-image: url("Images/About.png");
}
.Certi-image{
    width: 1280px;
    height: 486px;
    object-fit: contain;
    background-image: url("Images/Certif.png");
}
.Envir-image{
    width: 1280px;
    height: 486px;
    object-fit: contain;
    background-image: url("Images/Envir.png");
}
.Product-image{
    width: 1280px;
    height: 486px;
    object-fit: contain;
    background-image: url("Images/Product.png");
}
.Social-image{
    width: 1280px;
    height: 486px;
    object-fit: contain;
    background-image: url("Images/Social 1.png");
}
.common{
    margin-top: 309px;
    margin-left: 46px;
    width: 515px;
    height: 134px;
    object-fit: contain;
}
.About-info{
    width: 1280px;
    height: 326px;
    background-color: #f2f2f2;
}
.Certi-info{
    width:1280px;
    height: 298px;
    background-color: #ffffff;
}
.Envir-info{
    width: 1280px;
    height: 170px;
    background-color: #ffffff;
}
.social-info{
    width: 1280px;
    height: 368px;
    background-color: #ffffff;
}
.Product-info{
    width: 1280px;
    height: 208px;
    background-color: #ffffff;
}
.Certi-info1{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 46px;
}
p.About-info1{
    padding-left: 64px;
    padding-top: 54px;
    margin-bottom: 0px;
    width: 1220px;
    height: 323px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
}
.Envir-info1{
    width: 342px;
    height: 37px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
}
.social-info1{
    height: 37px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 46px;
}
p.Product-info1{
    margin-left: 64px;
    width: 1156px;
    height: 134px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    vertical-align: middle;
}
p.Certi-info2{
    width: 1155px;
    height: 58px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
    padding-left: 50px;
}
.Envir-info2{
    width: 376px;
    height: 29px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
    padding-left:  60px;
}
p.social-info2{
    width: 1168px;
    height: 259px;
    opacity: 0.69;
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    padding-left: 46px;
}
.container2{
    width:1280px;
    height:420px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 595px 685px;
    grid-row: auto auto;
}
.container1{
    width:1280px;
    height:1284px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 640px 642px;
    grid-row: auto auto;
}  
.container3{
    width:1280px;
    height:608px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 539px 741px;
    grid-row: auto auto;
}
.box7{
    width: 539px;
    height: 608px;
    background-image: url("Images/Career.png");
}
.career-info{
    text-transform: uppercase;
    height: 37px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
}
.career-info1{
    padding-left: 65px;
    width: 272px;
    height: 29px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #56667e;
}
.box5{
    width: 595px;
    height: 420px;
    text-align: center;
    background-color: #0a2244;
}
.box6{
    width:685px;
    height: 420px;
    background-image: url("Images/Mask Group 1.png");
    text-align:center;
}
.union{
    width: 278.6px;
    height: 248.6px;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.29);
    margin-top: 85px;
}
.box1{
    width: 640px;
    height: 642px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}
.box1-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Sponge.png");
    background-position: center;
    background-size: cover;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box1-2{
    padding-top: 225px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box1-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box1-4{
    text-align: center;
    padding-top: 300px;
}
.box1-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box1:hover .box1-1,
.box1:focus .box1-1{
    transform: scale(1.2);
}
.box1:hover .box1-1:before,
.box1:focus .box1-1:before{
    display: block;
}
.box1:hover span,
.box1:focus span{
    display: block;
}
.box1:hover .box1-4{
    display: none;
}
.box2{
    width: 640px;
    height: 642px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}
.box2-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Billets.png");
    background-position: center;
    background-size: cover;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box2-2{
    display: none;
    padding-top: 225px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.box2-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box2-4{
    text-align: center;
    padding-top: 300px;
}
.box2-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box2:hover .box2-1,
.box2:focus .box2-1{
    transform: scale(1.2);
}
.box2:hover .box2-1:before,
.box2:focus .box2-1:before{
    display: block;
}
.box2:hover span,
.box2:focus span{
    display: block;
}
.box2:hover .box2-4{
    display: none;
}
.box3{
    width: 640px;
    height: 642px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}
.box3-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/CP.png");
    background-position: center;
    background-size: cover;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box3-2{
    display: none;
    padding-top: 182px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.box3-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box3-4{
    text-align: center;
    padding-top: 300px;
}
.box3-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box3:hover .box3-1,
.box3:focus .box3-1{
    transform: scale(1.2);
}
.box3:hover .box3-1:before,
.box3:focus .box3-1:before{
    display: block;
}
.box3:hover span,
.box3:focus span{
    display: block;
}
.box3:hover .box3-4{
    display: none;
}
.box4{
    width: 640px;
    height: 642px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}
.box4-1{
    width: 100%;
    height: 100%;
    background-image: url("Images/Plates.png");
    background-position: center;
    background-size: cover;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.box4-2{
    display: none;
    padding-top: 182px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.box4-3{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
}
.box4-4{
    text-align: center;
    padding-top: 300px;
}
.box4-1::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box4:hover .box4-1,
.box4:focus .box4-1{
    transform: scale(1.2);
}
.box4:hover .box4-1:before,
.box4:focus .box4-1:before{
    display: block;
}
.box4:hover span,
.box4:focus span{
    display: block;
}
.box4:hover .box4-4{
    display: none;
}
.head{
    font-family: Raleway;
    font-size: 61px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
p.para{
    text-transform: uppercase;
    padding-left: 53px;
    padding-right: 65px;
    height: 178px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.glance-info1{
    text-transform: uppercase;
    height: 61px;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.glance-info2{
    width: 532px;
    height: 173px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #96aac6;
    padding-left: 65px;
}
#heading1{
    top: 937px;
    left: 90px;
    height: 61px;
    text-align: center;
    font-family: Raleway;
    font-size: 52px/61px;
    font-style: ExtraBold;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.par{
    top: 1033px;
    left: 65px;
    height: 173px;
    text-align: center;
    font: Regular 20px/24px Raleway;
    letter-spacing: 0px;
    padding: 2px;
    color: #96AAC6;
    opacity: 1;
    
}
#heading2{
    height: 37px;
    text-align: center;
    font: ExtraBold 32px/37px Raleway;
    letter-spacing: 0px;
    color: #0A2244;
    text-transform: uppercase;
    opacity: 1;
}
.col-sm-15{
    width: 20%;
    float: left;
}
.xyz{
    width: 55%;
    height: 1px;
    background-color: #ffffff;
}
.abc{
    width: 40%;
    height: 1px;
    background-color: #0a2244;
}
.mno{
    width: 50%;
    height: 1px;
    background-color: #96aac6;
}
#image{
    width: 200px;
    height: 201px;
    box-shadow: 0 0 15px 0 rgba(10, 34, 68, 0.25);
    border: solid 15px #ffffff;
}
#image1{
    margin-left: 40px;
}
.contact-info{
    height: 37px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.contact-info1{
    height: 24px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #96aac6;
}
.contact-info2{
    padding-top: 65px;
    font-family: Raleway;
    font-size: 54px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.contact-info3{
    padding-top: 48px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #96aac6;
}
.contact-info4{
    padding-top: 33px;
    font-family: Raleway;
    font-size: 33px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#contact-info5{
    padding-left: 0px;
    padding-right: 0px;
}
#row-contact{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
#row-contact1{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#row-contact2{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#row-contact3{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
#row-contact4{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}
.contact{
        background-image: url("Images/OverlayImg.png");
        height: 635px;
        width:1280px;
        padding: 0px;
        text-align: center;
}
#vl {
    border-left: 2px solid white;
    height: 300px;
    padding-right: 0px;
    padding-left: 0px;
}
.col-sm-4{
    vertical-align: center;
    padding: 50px;
}
.info{
    width:1280px;
    height:298px;
    background-color:white;
    padding: 0%;
}
.info2{ 
    width: 105px;
    height: 34px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-right: 0px;
}
.info3{
    padding-top: 8px;
    height: 88px;
    opacity: 0.38;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
    margin-bottom: 0px;
}
.info4{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #0a2244;
    margin-bottom: 0px;
}
.info5{
    height: 21px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #030d1b;
}
#col3{
    padding-left: 200px;
}
.info1{
    padding-top: 62px;
    width: 420px;
    opacity: 0.48;
    font-family: Raleway;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #0a2244;
}
#row-info{
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-right: 0px;
}
#info-col{
    padding-left: 49px;
    padding-right: 0px;
}
#row-info1{
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
#row-info2{
    width: 100%;
    height: 20%;
    vertical-align: middle;
}
#row-info3{
    padding-top: 113px;
    padding-right: 0px;
    padding-left: 50px;
}
#row-info4{
    padding-left: 0px;
    padding-right: 0px;
}
#row-info5{
    padding-top: 92px;
    padding-right: 0px;
    padding-left: 200px;
}